<div class="text-center pokemon-details col-lg-7 col-md-7 col-sm-12 col-xs-12">
    <div class="pokemon-image-container">
        <img class="img-thumbnail" src="{{sprites.back_default}}">
    </div>
    <div class="pokemon-name-container"><span>{{name}} #{{id}}</span></div>
    <div class="pokemon-info-container">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Type</td>
                    <td>{{#types}} {{type.name}} {{/types}}</td>
                </tr>
                {{#stats}}
                <tr>
                    <td>{{stat.name}}</td>
                    <td>{{base_stat}}</td>
                </tr>
                {{/stats}}
                <tr>
                    <td>Weight</td>
                    <td>{{weight}}</td>
                </tr>
                <tr>
                    <td>Total moves</td>
                    <td>{{movesCount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>